@use "variables.scss" as v;
.btn {
  background-color: v.$fourth;
  color: v.$first;
  font-size: v.$f20;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid v.$fourth;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 5px;

  &:hover {
    background-color: v.$fifth;
    color: v.$sixth;
    transition: all 0.5s;
  }
}
