.btn {
  background-color: #7f3e59;
  color: #edb6c2;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #7f3e59;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 5px;
}

.btn:hover {
  background-color: #ffffff;
  color: #000000;
  transition: all 0.5s;
}
