@use "variables.scss" as v;

/* FAQ START */
.faq {
  background-color: v.$first;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

.question {
  border: solid transparent;
  font-size: v.$f25;
  font-family: "Fredericka the Great";
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    border: solid v.$fourth;
  }

  .question::before {
    border-style: solid;
    border-color: v.$fourth;
    border-width: 0.25em 0.25em 0 0;
    content: "";
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(45deg);
    vertical-align: top;
    width: 0.45em;
    margin-right: 15px;
    transition: all 0.2s;
  }

  .question.right::before {
    left: 0;
    transform: rotate(45deg);
  }

  .question.bottom::before {
    top: 0;
    transform: rotate(135deg);
  }

  .question.left::before {
    left: 0.25em;
    transform: rotate(-135deg);
  }

  .answer {
    font-size: v.$f20;
    overflow: hidden;
    padding-left: 45px;
    //before in CSS it was ".answer-hidden
    &-hidden {
      max-height: 0px;
    }
    //before in CSS it was ".answer-visible
    &-visible {
      height: fit-content;
      overflow: visible;
    }
  }

  /* FAQ END */