@use "variables.scss" as v;
/* FOOTER */
.footer {
  font-family: "Fredericka the Great";
  font-weight: 300;
  letter-spacing: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: v.$fourth;
  color: v.$fifth;
  text-align: center;
}

.fa-linkedin {
  background: v.$seventh;
  color: v.$fifth;
  margin: 3px;
  padding: 3px;
}