@use "variables.scss" as v;
html {
  scroll-behavior: smooth;
}

body {
  background-color: v.$first;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
}

h1,
h2,
h3 {
  font-family: "Fredericka the Great";
}

.ingredients {
  font-family: "Fredericka the Great";
  letter-spacing: 3px;
}

/* Media */
@media (max-width: 1300px) {
  .intro2 {
    height: 95vh;
  }

  .intro3 {
    height: 85vh;
  }
}

@media (max-width: 1025px) {
  .intro2 {
    height: 140vh;
  }

  .intro3 {
    height: 95vh;
  }
}

@media (max-height: 897px) {
  .intro {
    height: 95vh;
  }

  .intro2 {
    height: 200vh;
  }

  .intro3 {
    height: 125vh;
  }
}
