@use "variables.scss" as v;
@use "helpers.scss" as h;
/* RECIPE2 SLIDE START */
.recipe2 {
  height: 75vh;
  background: linear-gradient(
      rgba(155, 146, 146, 0.65),
      rgba(119, 32, 80, 0.472)
    ),
    url("granola.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /* creates cool parallax scrolling effect */
  @include h.centered();
}

.recipe-heading2 {
  font-size: v.$f85;
  margin-bottom: 20px;
  text-align: center;
}

.recipe-description2 {
  color: v.$fifth;
  text-align: center;
  font-size: v.$f25;
  padding-left: 100px;
  padding-right: 100px;
}

.beginnings {
  text-decoration: none;
  color: v.$fifth;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
/* RECIPE2 SLIDE END */
