/* INTRO SLIDE START 3*/
.intro3 {
  height: 75vh;
  background: linear-gradient(
      rgba(155, 146, 146, 0.65),
      rgba(119, 32, 80, 0.472)
    ),
    url("granola.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; /* creates cool parallax scrolling effect */

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-heading3 {
  font-size: 85px;
  margin-bottom: 20px;
  text-align: center;
}

.intro-description3 {
  color: var(--fifth);
  text-align: center;
  font-size: 25px;

  padding-left: 100px;
  padding-right: 100px;
}

.beginnings {
  text-decoration: none;
  color: var(--fifth);
}

.beginnings:hover {
  cursor: pointer;
}
/* INTRO SLIDE END 3*/
