/* QUOTE START */
.quote-container {
  background-color: var(--first);
  text-align: center;

  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.quote {
  font-size: 30px;
  margin-bottom: 20px;
}

.author {
  font-size: 20px;
}
/* QUOTE END */
