.btn {
  background-color: #7f3e59;
  color: #edb6c2;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #7f3e59;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 5px;
}
.btn:hover {
  background-color: #ffffff;
  color: #000000;
  transition: all 0.5s;
}

/* FAQ START */
.faq {
  background-color: #edb6c2;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

.question {
  border: solid transparent;
  font-size: 25px;
  font-family: "Fredericka the Great";
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
}
.question:hover {
  border: solid #7f3e59;
}

.question::before {
  border-style: solid;
  border-color: #7f3e59;
  border-width: 0.25em 0.25em 0 0;
  content: "";
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(45deg);
  vertical-align: top;
  width: 0.45em;
  margin-right: 15px;
  transition: all 0.2s;
}

.question.right::before {
  left: 0;
  transform: rotate(45deg);
}

.question.bottom::before {
  top: 0;
  transform: rotate(135deg);
}

.question.left::before {
  left: 0.25em;
  transform: rotate(-135deg);
}

.answer {
  font-size: 20px;
  overflow: hidden;
  padding-left: 45px;
}
.answer-hidden {
  max-height: 0px;
}
.answer-visible {
  height: fit-content;
  overflow: visible;
}

/* FOOTER */
.footer {
  font-family: "Fredericka the Great";
  font-weight: 300;
  letter-spacing: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #7f3e59;
  color: #ffffff;
  text-align: center;
}

.fa-linkedin {
  background: #007bb5;
  color: #ffffff;
  margin: 3px;
  padding: 3px;
}

/* INTRO SLIDE START */
.intro {
  height: 65vh;
  background: url("watermelon.webp");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /* creates cool parallax scrolling effect */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.intro-heading {
  font-size: 85px;
  margin-bottom: 20px;
  text-align: center;
}

.intro-description {
  font-family: "Fredericka the Great";
  text-align: center;
  font-size: 25px;
  padding-left: 100px;
  padding-right: 100px;
}

/* INTRO SLIDE END */
/* LEARN MORE START */
.learn-more {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

/* LEARN MORE END */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #edb6c2;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
}

h1,
h2,
h3 {
  font-family: "Fredericka the Great";
}

.ingredients {
  font-family: "Fredericka the Great";
  letter-spacing: 3px;
}

/* Media */
@media (max-width: 1300px) {
  .intro2 {
    height: 95vh;
  }

  .intro3 {
    height: 85vh;
  }
}
@media (max-width: 1025px) {
  .intro2 {
    height: 140vh;
  }

  .intro3 {
    height: 95vh;
  }
}
@media (max-height: 897px) {
  .intro {
    height: 95vh;
  }

  .intro2 {
    height: 200vh;
  }

  .intro3 {
    height: 125vh;
  }
}
/* QUOTE START */
.quote-container {
  background-color: #edb6c2;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.quote {
  font-size: 30px;
  margin-bottom: 20px;
}

.author {
  font-size: 20px;
}

/* QUOTE END */
/* RECIPE SLIDE START */
.recipe {
  height: 90vh;
  background: linear-gradient(rgba(155, 146, 146, 0.65), rgba(119, 32, 80, 0.472)), url("dessert2.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /* creates cool parallax scrolling effect */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.recipe-heading {
  font-size: 85px;
  margin-bottom: 20px;
  text-align: center;
}

.recipe-description {
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  padding-left: 100px;
  padding-right: 100px;
}

ul {
  list-style: none;
}

/* RECIPE SLIDE END */
/* RECIPE2 SLIDE START */
.recipe2 {
  height: 75vh;
  background: linear-gradient(rgba(155, 146, 146, 0.65), rgba(119, 32, 80, 0.472)), url("granola.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /* creates cool parallax scrolling effect */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.recipe-heading2 {
  font-size: 85px;
  margin-bottom: 20px;
  text-align: center;
}

.recipe-description2 {
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  padding-left: 100px;
  padding-right: 100px;
}

.beginnings {
  text-decoration: none;
  color: #ffffff;
}
.beginnings:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* RECIPE2 SLIDE END */
/* VIDEO START */
.video {
  background-color: #7f3e59;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.video-heading {
  color: #000000;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Fredericka the Great";
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.video-frame {
  border: 0px;
}

/* VIDEO END */

/*# sourceMappingURL=styles.css.map */
