:root {
  --first: #edb6c2;
  --second: #7b6a70;
  --third: #73545c;
  --fourth: #7f3e59;
  --fifth: #ffffff;
  --sixth: #000000;
}

html {
  scroll-behavior: smooth;
}

/* REUSABLE STYLINGS START */
body {
  background-color: var(--first);
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
}

.main-heading,
.main-heading2,
.main-heading3 {
  font-family: "Fredericka the Great";
}

.btn {
  background-color: var(--fourth);
  color: var(--first);
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid var(--fourth);

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;

  margin-left: 5px;
}

.btn:hover {
  background-color: var(--fifth);
  color: var(--sixth);
  transition: all 0.5s;
}

dt {
  text-transform: uppercase;
  font-family: "Fredericka the Great";
  letter-spacing: 5px;
}
/* REUSABLE STYLINGS  END */

/* Media */

@media (max-width: 1300px) {
  .intro2 {
    height: 95vh;
  }

  .intro3 {
    height: 85vh;
  }
}

@media (max-width: 1025px) {
  .intro2 {
    height: 140vh;
  }

  .intro3 {
    height: 95vh;
  }
}

@media (max-height: 897px) {
  .intro {
    height: 95vh;
  }

  .intro2 {
    height: 200vh;
  }

  .intro3 {
    height: 125vh;
  }
}
