/* Error: expected "}".
 *    ,
 * 71 |   /* FAQ END *∕
 *    |                ^
 *    '
 *   sass\faq.scss 71:16   @use
 *   sass\styles.scss 2:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a    \2577 \a 71 \2502    /* FAQ END */\a    \2502                 ^\a    \2575 \a   sass\\faq.scss 71:16   @use\a   sass\\styles.scss 2:1  root stylesheet';
}
